# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store
dsl_tagging_service/settings_local.py
._*


# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/

